@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-waikawa-gray-800 bg-waikawa-gray-50 dark:bg-waikawa-gray-950 dark:text-waikawa-gray-100 dark:selection:bg-waikawa-gray-600;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.waikawa-gray.400") theme("colors.waikawa-gray.200");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-waikawa-gray-200;
}
*::-webkit-scrollbar-thumb {
  @apply bg-waikawa-gray-400;
  border-radius: 6px;
}

html.dark *::-webkit-scrollbar-track {
  @apply bg-waikawa-gray-900;
}
html.dark *::-webkit-scrollbar-thumb {
  @apply bg-waikawa-gray-600;
}

html.dark * {
  scrollbar-color: theme("colors.waikawa-gray.400") theme("colors.waikawa-gray.600");
}

/* This is how you apply the border-color for both light and dark mode */
.border-color {
  @apply border-black dark:border-white;
}